@import url('lumo-css-framework/all-classes.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

.left_menu {
    padding-left: 0.5em;
}

.bordered {
    border: dimgray solid 1px;
    border-radius: 5px;
}

.block_title {
    margin-top: 0;
}
